ProperConveySite/Eletronics/VersaoFinal/Eletronics/Eletronicos.Data/Service References/ClientService/ClientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49865/ClientService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49865/ClientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49865/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Eletronicos.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientService_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_RemoveClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_RemoveClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_UpdateClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_UpdateClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="IClientService_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="IClientService_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_FindTypeDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:FindTypeDescription" />
  </wsdl:message>
  <wsdl:message name="IClientService_FindTypeDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindTypeDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_FindAllClientTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllClientTypes" />
  </wsdl:message>
  <wsdl:message name="IClientService_FindAllClientTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllClientTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_FindClientsByFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:FindClientsByFilter" />
  </wsdl:message>
  <wsdl:message name="IClientService_FindClientsByFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindClientsByFilterResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientService">
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/AddClient" message="tns:IClientService_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/AddClientResponse" message="tns:IClientService_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/RemoveClient" message="tns:IClientService_RemoveClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/RemoveClientResponse" message="tns:IClientService_RemoveClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/UpdateClient" message="tns:IClientService_UpdateClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/UpdateClientResponse" message="tns:IClientService_UpdateClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/FindAll" message="tns:IClientService_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/FindAllResponse" message="tns:IClientService_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/Find" message="tns:IClientService_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/FindResponse" message="tns:IClientService_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindTypeDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/FindTypeDescription" message="tns:IClientService_FindTypeDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/FindTypeDescriptionResponse" message="tns:IClientService_FindTypeDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllClientTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/FindAllClientTypes" message="tns:IClientService_FindAllClientTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/FindAllClientTypesResponse" message="tns:IClientService_FindAllClientTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindClientsByFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/FindClientsByFilter" message="tns:IClientService_FindClientsByFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/FindClientsByFilterResponse" message="tns:IClientService_FindClientsByFilter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientService" type="tns:IClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/RemoveClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/UpdateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <soap:operation soapAction="http://tempuri.org/IClientService/FindAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/IClientService/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindTypeDescription">
      <soap:operation soapAction="http://tempuri.org/IClientService/FindTypeDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllClientTypes">
      <soap:operation soapAction="http://tempuri.org/IClientService/FindAllClientTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindClientsByFilter">
      <soap:operation soapAction="http://tempuri.org/IClientService/FindClientsByFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port name="BasicHttpBinding_IClientService" binding="tns:BasicHttpBinding_IClientService">
      <soap:address location="http://localhost:49865/ClientService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>