ProperConveySite/Eletronics/VersaoFinal/Eletronics/Eletronicos.Data/Service References/ClientService/ClientService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Eletronicos.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Eletronicos.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="ClientType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientType" nillable="true" type="tns:ClientType" />
  <xs:complexType name="ArrayOfClientType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientType" nillable="true" type="tns:ClientType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientType" nillable="true" type="tns:ArrayOfClientType" />
</xs:schema>