ProperConveySite/Eletronics/VersaoFinal/Eletronics/Eletronics.WEB/Service References/SupplierService/SupplierService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SupplierService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50821/SupplierService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50821/SupplierService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50821/SupplierService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Eletronicos.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISupplierService_AddSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_AddSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_RemoveSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_RemoveSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_UpdateSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_UpdateSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_FindAllSuppliers_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllSuppliers" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_FindAllSuppliers_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_FindSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:FindSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_FindSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_FindAllSupplierTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllSupplierTypes" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_FindAllSupplierTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllSupplierTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_FindSupplierDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:FindSupplierDescription" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_FindSupplierDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindSupplierDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_FindSuppliersByFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:FindSuppliersByFilter" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_FindSuppliersByFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindSuppliersByFilterResponse" />
  </wsdl:message>
  <wsdl:portType name="ISupplierService">
    <wsdl:operation name="AddSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/AddSupplier" message="tns:ISupplierService_AddSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/AddSupplierResponse" message="tns:ISupplierService_AddSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/RemoveSupplier" message="tns:ISupplierService_RemoveSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/RemoveSupplierResponse" message="tns:ISupplierService_RemoveSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/UpdateSupplier" message="tns:ISupplierService_UpdateSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/UpdateSupplierResponse" message="tns:ISupplierService_UpdateSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllSuppliers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/FindAllSuppliers" message="tns:ISupplierService_FindAllSuppliers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/FindAllSuppliersResponse" message="tns:ISupplierService_FindAllSuppliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/FindSupplier" message="tns:ISupplierService_FindSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/FindSupplierResponse" message="tns:ISupplierService_FindSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllSupplierTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/FindAllSupplierTypes" message="tns:ISupplierService_FindAllSupplierTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/FindAllSupplierTypesResponse" message="tns:ISupplierService_FindAllSupplierTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindSupplierDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/FindSupplierDescription" message="tns:ISupplierService_FindSupplierDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/FindSupplierDescriptionResponse" message="tns:ISupplierService_FindSupplierDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindSuppliersByFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/FindSuppliersByFilter" message="tns:ISupplierService_FindSuppliersByFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/FindSuppliersByFilterResponse" message="tns:ISupplierService_FindSuppliersByFilter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="SupplierService" />
</wsdl:definitions>