ProperConveySite/Eletronics/VersaoFinal/Eletronics/Eletronics.WEB/Service References/SupplierService/SupplierService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50821/SupplierService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Eletronicos.Model" />
  <xs:element name="AddSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Eletronicos.Model" minOccurs="0" name="supplier" nillable="true" type="q1:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Eletronicos.Model" minOccurs="0" name="supplier" nillable="true" type="q2:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Eletronicos.Model" minOccurs="0" name="supplier" nillable="true" type="q3:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSuppliers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSuppliersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Eletronicos.Model" minOccurs="0" name="FindAllSuppliersResult" nillable="true" type="q4:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Eletronicos.Model" minOccurs="0" name="supplier" nillable="true" type="q5:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Eletronicos.Model" minOccurs="0" name="FindSupplierResult" nillable="true" type="q6:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSupplierTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSupplierTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Eletronicos.Model" minOccurs="0" name="FindAllSupplierTypesResult" nillable="true" type="q7:ArrayOfSupplierType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSupplierDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSupplierDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Eletronicos.Model" minOccurs="0" name="FindSupplierDescriptionResult" nillable="true" type="q8:SupplierType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSuppliersByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Eletronicos.Model" minOccurs="0" name="supplierFilter" nillable="true" type="q9:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSuppliersByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Eletronicos.Model" minOccurs="0" name="FindSuppliersByFilterResult" nillable="true" type="q10:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>