ProperConveySite/Eletronics/VersaoFinal/Eletronics/Eletronics.WEB/Service References/SupplierService/SupplierService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Eletronicos.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Eletronicos.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Supplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorporateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Supplier" nillable="true" type="tns:Supplier" />
  <xs:complexType name="ArrayOfSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Supplier" nillable="true" type="tns:Supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplier" nillable="true" type="tns:ArrayOfSupplier" />
  <xs:complexType name="ArrayOfSupplierType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierType" nillable="true" type="tns:SupplierType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierType" nillable="true" type="tns:ArrayOfSupplierType" />
  <xs:complexType name="SupplierType">
    <xs:sequence>
      <xs:element minOccurs="0" name="SupplierTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierType" nillable="true" type="tns:SupplierType" />
</xs:schema>